# Time Series -Milk Production

## The Data

** Source: https://datamarket.com/data/set/22ox/monthly-milk-production-pounds-per-cow-jan-62-dec-75#!ds=22ox&display=line **

**Monthly milk production: pounds per cow. Jan 62 - Dec 75**

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data_milk = pd.read_csv('monthly-milk-production.csv', index_col='Month')

In [4]:
data_milk.head()

                     Milk Production
Month
1962-01-01 01:00:00            589.0
1962-02-01 01:00:00            561.0
1962-03-01 01:00:00            640.0
1962-04-01 01:00:00            656.0
1962-05-01 01:00:00            727.0

** Make the index a time series by using: **

    milk.index = pd.to_datetime(milk.index)

In [6]:
data_milk_idx = pd.to_datetime(data_milk.index)